In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [49]:
#Import data
sales = pd.read_csv("supermarket_sales - Sheet1.csv")

In [50]:
#Inspecting a DataFrame
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [51]:
sales.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [52]:
# Sort sales by gender and  qty
sales_by_gender = sales.sort_values(["Gender","Quantity"], ascending=[True, True])

print(sales_by_gender.head())

      Invoice ID Branch       City Customer type  Gender         Product line  \
35   232-16-2483      C  Naypyitaw        Member  Female    Sports and travel
40   280-35-5823      B   Mandalay        Member  Female   Home and lifestyle
69   382-03-4532      A     Yangon        Member  Female    Health and beauty
143  488-25-4221      C  Naypyitaw        Member  Female   Food and beverages
195  556-86-3144      C  Naypyitaw        Member  Female  Fashion accessories

     Unit price  Quantity  Tax 5%    Total       Date   Time      Payment  \
35        68.12         1  3.4060  71.5260   1/7/2019  12:28      Ewallet
40        86.72         1  4.3360  91.0560  1/17/2019  18:45      Ewallet
69        18.33         1  0.9165  19.2465   2/2/2019  18:50         Cash
143       30.41         1  1.5205  31.9305  2/22/2019  10:36  Credit card
195       74.29         1  3.7145  78.0045  1/13/2019  19:30         Cash

      cogs  gross margin percentage  gross income  Rating
35   68.12                 4.761905        3.4060     6.8
40   86.72                 4.761905        4.3360     7.9
69   18.33                 4.761905        0.9165     4.3
143  30.41                 4.761905        1.5205     8.4
195  74.29                 4.761905        3.7145     5.0

In [53]:
# Print the mean of "Quantity"
print(sales["Quantity"].mean())

# Print the median of "Quantity"
print(sales["Quantity"].median())

# Print the maximum "Quantity"
print(sales["Quantity"].max())

# Print the minimum "Quantity"
print(sales["Quantity"].min())

5.51
5.0
10
1

In [54]:
# create custom IQR function

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["Quantity", "Total", "gross margin percentage"]].agg([iqr, np.median]))

        Quantity       Total  gross margin percentage
iqr          5.0  346.927875                 0.000000
median       5.0  253.848000                 4.761905

In [61]:
# Sort sales_by_gender by "Total"
sales_by_gender = sales_by_gender.sort_values("Date", ascending=True)

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col

sales_by_gender['cum_weekly_sales'] = sales_by_gender["Total"].cumsum()


# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_by_gender["cum_max_sales"] = sales_by_gender[ "Total"].cummax()

# See the columns you calculated
print(sales_by_gender[["Date", "Total", "cum_weekly_sales", "cum_max_sales"]])

         Date     Total  cum_weekly_sales  cum_max_sales
484  1/1/2019  388.2900           388.290        388.290
17   1/1/2019  457.4430           845.733        457.443
567  1/1/2019  621.2430          1466.976        621.243
245  1/1/2019  399.7560          1866.732        621.243
856  1/1/2019  177.4080          2044.140        621.243
..        ...       ...               ...            ...
84   3/9/2019  256.7775        321238.428       1042.650
11   3/9/2019  107.1420        321345.570       1042.650
393  3/9/2019  548.7300        321894.300       1042.650
122  3/9/2019  944.6220        322838.922       1042.650
626  3/9/2019  127.8270        322966.749       1042.650

[1000 rows x 4 columns]